body{
  margin: 0;
}
header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  position: fixed;
  height: 70px;
  width: 100%;
  top: 0px;
  background-color: white;
  border-bottom: solid;
  display:flex;
  vertical-align: middle;
  z-index: 2;
}
.logo{
  color: mediumaquamarine;
  width: auto;
}
header img{
  padding: 5px 15px 5px 50px;
  vertical-align: middle;
  }
nav {
  text-align: right;
  position: fixed;
  height: 65px;
  width: 90%;
  z-index: 2;
}

nav li {
  display: inline-block;
  padding-top: 10px;
}

nav a {
  color: black;
  width: 100px;
}
.column{
  display:flex;
  flex-direction: row;
  border: solid;
}
.large{
  width: 630px;
  display:flex;
  flex-direction: column;
  border: solid red;
}
.row1{
  text-align: center;
  border: solid blue;
}
.tuna{
  color: white;
  max-width: 550px;
  height: 300px;
  vertical-align: middle;
  background-image:
  url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png');
}
.row1 p{
  text-align: left;
}
.row2{
  position: relative;
  display: flex;
  flex-direction: row;
  border: solid green;
  }
.column1{
  width: 315px;
  display: flex;
  flex-direction: column;
}
.orca{
}
.earth {
  display: flex;
  max-width: 250px;
  height: 250px;
  position: relative;
  color: white;
  text-align: center;
  vertical-align: middle;
  background-image:
  url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png');
  }
.column2{
  width: 315px;
  display: flex;
  flex-direction: column;
}
.burger{
}
.camera{
  height: 250px;
  display:flex;
  position: relative;
  color: white;
  text-align: center;
  vertical-align: middle;
    background-image:
  url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png');
  }
  .medium{
    width: 300px;
    display: flex;
    border: solid orange;
  }
  .small{
    width: 240px;
    display:flex;
    border: solid purple;
  }
