body{
  margin: 0;
}
header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  position: fixed;
  height: 70px;
  width: 100%;
  top: 0px;
  background-color: white;
  border-bottom: solid;
  display:flex;
  vertical-align: middle;
  z-index: 2;
}
.logo{
  color: mediumaquamarine;
  width: auto;
}
header img{
  padding: 5px 15px 5px 50px;
  vertical-align: middle;
  }
nav {
  text-align: right;
  position: fixed;
  height: 65px;
  width: 90%;
  z-index: 2;
}

nav li {
  display: inline-block;
  padding-top: 10px;
}

nav a {
  color: black;
  width: 100px;
}
.column{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  border: solid;
  padding-top: 80px;
}
.large{
  width: 630px;
  display:flex;
  flex-direction: column;
  border: solid red;
}
.row1{
  display:flex;
  flex-direction: column;
  border: solid blue;
}
.tuna{
  display: flex;
  max-width: 630px;
  height: 300px;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png');
}
.tuna h1{
  padding-top: 50px;
  text-align: center;
  font-size: 40px;
  }
.tuna p{
  text-align: left;
}
.row2{
  display: flex;
  flex-direction: row;
  border: solid green;
  }
  .orca{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    border: solid;
  }
.burger{
  display: flex;
  flex-direction: column;
  padding-left: 50px:
  border: solid pink;
}
  .row3{
    position: relative;
    display: flex;
    left: 20px;
    flex-direction: row;
    justify-content: space-between;
  }
  .row4
  {position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  }
.earth {
  display: flex;
  justify-content: center;
  max-width: 250px;
  position: relative;
  color: white;
  text-align: center;
  background-image:
  url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png');
  }
.camera{
  max-width: 250px;
  height: 250px;
  display:inline-flex;
  position: relative;
  color: white;
  text-align: center;
  vertical-align: middle;
    background-image:
  url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png');
  }
.medium{
    width: 300px;
    display: flex;
    flex-direction: column;
    border: solid orange;
  }
.fbi{
  display: flex;
  }
.cats{
  display: flex;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png');
  }
.small{
    width: 240px;
    display:flex;
    flex-direction: column;
    border: solid purple;
  }
.cookie{
  max-width: 240px;
  min-height: 240px;
  display: flex;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-news-bite.png');
}
.bites{
  display: flex;
  text-align: center;
  flex-direction: column;
  font-size: 16px;
  font-weight: bold;
  }
p{
  display: flex;
  font-family: Georgia;
  font-size: 17px;
  color: black;
  }
.image{
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  }
.list{
  display: flex;
  background-color: WhiteSmoke;
 font-family: Verdana;
 font-size: 12px;
 color: DimGray;
}
.list li{
  list-style-type: none;
  border-top: soild;
  border-bottom: solid;
}
.footer{

}
.bottom-row1{
  display: inline-block;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
}
.bottom-row1 nav{
  display: inline-block;
  text-align: right;
  position: fixed;
  height: 65px;
  width: 90%;
  z-index: 2;
}
